*.py[cod]

# C extensions
*.so
*.so.dSYM

# Packages / virtual envs
*.egg
*.egg-info
dist
build
eggs
*.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.cache
__pycache__
.ipynb_checkpoints
Pipfile.lock

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
coverage.xml
.pytest_cache
*,cover

# Documentation
docs/_build
docs/apidocs

# Developer tools / IDEs
*~
.ropeproject
.idea
.eclipse
.vscode

# Downloaded AIPS source files
katpoint/test/aips_projection/*.F
katpoint/test/aips_projection/*.INC
