astropy
docutils
markupsafe
numpy
pipdeptree
pygments
pylint
pylint_junit
pyorbital
pytest
pytest-cov
pytest-pylint
python-dotenv>=0.5.1
requests   # from pyorbital
scipy      # from pyorbital
setuptools
sgp4
sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-websupport
