astropy>=4.1
docutils
markupsafe
katversion  # Required for the correct tagging of the python wheel(s)
numpy
packaging
pipdeptree
pygments
pylint
pylint-junit
pytest
pytest-cov
pytest-json-report
pytest-pylint
python-dotenv>=0.5.1
setuptools
sgp4>=2.7
skyfield
sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-websupport
tox>=3.18.0
