attrs                   # via pytest
certifi                 # via skyfield
coverage                # via pytest-cov
importlib-metadata      # via pytest
jplephem==2.14          # via skyfield
more-itertools          # via pytest
packaging
pluggy                  # via pytest
py                      # via pytest
pyparsing               # via packaging
pytest
pytest-cov
six                     # via packaging
skyfield==1.26
wcwidth                 # via pytest
zipp                    # via importlib-metadata
