attrs                   # via pytest
coverage                # via pytest-cov
importlib-metadata      # via pytest
more-itertools          # via pytest
packaging               # via pytest
pluggy                  # via pytest
py                      # via pytest
pyparsing               # via packaging
pytest
pytest-cov
six                     # via packaging
wcwidth                 # via pytest
zipp                    # via importlib-metadata
